body{
  font-family: Montserrat;
}

.bg
{
  background-color: #ff4c48;
}

.font{
  font-family: Montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
}

.containter-fluid{
  padding: 3% 15%;
}

.nav-item{
  padding-right: 18px;
}

.navbar-brand{
  font-size: 2rem;
}

.navbar{
  padding-bottom: 38px;
}

.button-style{
  margin:5% 3% 5% 0;
}

.img-mod{
  width:60%;
  transform: rotate(25deg);
}

.containter-fluid-new{
  padding: 12% 15%;
}

.head{
  font-family: Montserrat-bold;
  font-size: 1.5rem;
  text-align: center;
}

.head1{
  text-align: center;
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

#testimonials{
  padding: 8% 15%;
  text-align: center;
  background-color: #ff4c48;
}

h2{
  line-height: 3.5rem;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.test-img{
  width:10%;
  border-radius: 100%;
}

#press{
  background-color: #ff4c48;
  text-align: center;
  padding-bottom: 50px;
}

.press-logo{
  width: 15%;
  padding-left: 20px;
}
